h2 {background-color: rgb(123, 56, 123);
    color: white;
    text-align: center;
height: 40px;
padding: 90px;
font-weight: bolder;
border-style: dashed;
border-radius: 100%;

}

h3 {background-color: rgb(123, 56, 123);
    color: white;
    text-align: center;
height: 40px;
padding: 90px;

}

h5 {/*background-color: hsl(306, 50%, 69%);*/
    background-color: rgb(213, 142, 213);
color: black;
display: flex;
align-items: ;
flex-direction: column;
padding: 20px;


}

nav {background-color: hsl(267, 75%, 69%) ;
    display: flex;
    justify-content: center;
    padding: 10px;
    white-space: nowrap;
color: blue;
    
}

body {display:flex;
    flex-direction: column;
background-color: #ebcfcf

}


a {
    color: blue;
    padding: 50px;
    text-decoration: underline;
    
    
}

footer {color: grey;
display: flexbox;
float: left;
padding-top: 50px;
}


.flex-container {display: flex;
flex-direction: column;
flex-wrap: wrap;

}

img {display: flex;
    width: 50%;
    height: auto;
    padding-top: 10px;
}
